artifacts/sync-agent/releases/BIMLog-Sync-Agent-Windows-Portable.tar.gz filter=lfs diff=lfs merge=lfs -text
artifacts/sync-agent/releases/BIMLog-Sync-Agent-Windows-Portable.zip filter=lfs diff=lfs merge=lfs -text
artifacts/sync-agent/releases/BIMLog[[:space:]]Sync[[:space:]]Agent[[:space:]]Setup[[:space:]]1.0.0.exe filter=lfs diff=lfs merge=lfs -text
bimlog_src.tar.gz filter=lfs diff=lfs merge=lfs -text
